<form method="post" action="{{ path('app_student_delete', {'uid': student.uid}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ student.uid) }}">
    <button class="btn mx-2 btn-danger">Delete</button>
</form>
