{% extends 'base.html.twig' %}

{% block title %}Homepage exo{% endblock %}

{% block body %}
    <div class="container mt-5">
        <a href={{ path('app_student_index')}} class="text-decoration-none">
            <div class="bg-orange card text-white w-25 zoom">
                <div class="card-body">
                <h4 class="card-title fw-bold">Formmulera</h4>
                <p class="card-text">Embedding forms using CollectionType</p>
                </div>
            </div>
        </a>
    </div>
{% endblock %}
