@import '~bootstrap/dist/css/bootstrap.css';

body {
    background-color: #173C9B;
}

.bg-blue {
    background-color: #173C9B;
}

.bg-orange {
    background-color: #E8AA42;
}

.btn-hover:hover {
    color: #173C9B !important;
    opacity: 0.7;
}

.error-message ul li {
    color: #da3434;
    list-style-type: none;
}

.icon-small {
    height: 50px;
    width: 50px;
}

.text-blue {
    color: #173C9B;
}

.text-orange {
    color: #E8AA42;
}

.zoom {
    transition: transform .6s;
}

.zoom:hover {
    cursor: pointer;
    -ms-transform: scale(1.1);
    transform: scale(1.1); 
    -webkit-transform: scale(1.1);
}
